:root {
	--nc-tx-1: #ffffff;
	--nc-tx-2: #eeeeee;
	--nc-bg-1: #000000;
	--nc-bg-2: #111111;
	--nc-bg-3: #222222;
	--nc-lk-1: #3291FF;
	--nc-lk-2: #0070F3;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #7928CA;
	--nc-ac-tx: #FFFFFF;
}

blockquote h3 {
    padding-top: 0;
}
header h1 a, h3 a {
    color: var(--nc-tx-1);
    text-decoration: none;
}
header img {
    margin-top: -1em;
    float: right;
}
footer {
    border-top: 1px solid var(--nc-bg-3);
    padding: 1.5rem 2rem;
    margin: 2rem calc(0px - (50vw - 50%)) -2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}
