<!DOCTYPE html>
<html lang="{% block lang %}{% endblock lang %}">
<head>
{% block head %}
    <title>{% block title %}{% endblock title %}</title>
    {% block meta %}
    {% endblock meta %}

    {% block link %}
    {% endblock link %}

    {% block style %}
    {% endblock style %}
{% endblock head %}
</head>

<body>
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
</body>
</html>
