{% extends "_base.html" %}

{% block lang -%}
en
{%- endblock lang %}

{% block title -%}
d12n &middot; Leiden University
{%- endblock title %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="d12n Research Cluster, CADS Institute,
	    Leiden University. Studying the digitalization of
	    culture, society, and scholarship.">
<meta property="og:title" content="d12n">
<meta property="og:url" content="{{ base_url }}">
<meta property="og:description" content="Digitalization Research Cluster at Leiden University">
<meta property="og:type" content="website">
{% endblock meta %}

{% block link %}
<link rel="stylesheet" href="/css/new.min.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="me" href="https://fed.leiden.digital/@d12n">
{% endblock link %}

{% block style %}{% endblock style %}

{% block header %}
<header>
    <img src="/img/logo.svg" width="200" alt="Logo of CADS Institute, Leiden University">
    <h1><a href="{{ base_url }}" title="Home">d12n</a></h1>
    <p>Digitalization Research Cluster @
       <a href="https://www.universiteitleiden.nl">Leiden University</a></p>
</header>
{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}
<footer>
    <address>
        {{ copyright_notice }}
    </address>
</footer>
{% endblock footer %}
