{% extends "_default.html" %}

{% block content %}
<p>
    We are a group of scholars in the
    <a href="https://www.universiteitleiden.nl/en/social-behavioural-sciences/cultural-anthropology-and-development-sociology">
    CADS Institute</a>, Faculty of Social Sciences, working on issues
    related to the <strong>digitalization of culture, society, and
    scholarship</strong>. This is where we host our digital projects.
</p>

<details id="mission">
    <summary>Our Mission</summary>
    <p>
        The d12n Research Cluster provides a space for inquiry and
        intervention into the ongoing digit(al)ization of culture, society,
        and scholarship. The research cluster aims to link CADS Institute
        researchers to each other as well as to experts and practitioners
        from around the world as we combine thinking and doing in relation
        to digital infrastructures, technologies, and cultural forms.
    </p>
    <p>
        We understand digitalization to be a broad process of
        transformation affecting practices, institutions and discourses,
        albeit unevenly and with varying effects. Digitalization does not
        just take place &ldquo;out there,&rdquo; but affects our own work
        as scholars.  We are particularly interested in how we can study
        and represent this process, but also in how social scientific
        knowledge can help in the development of more fair, socially just,
        and culturally sensitive systems.
    </p>
</details>

<h2 id="projects">Projects</h2>
{% for item in projects %}
<blockquote>
    <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
    <p>{{ item.description }}</p>
    <small>{{ item.date }} / <a href="{{ item.src }}">Source</a></small>
</blockquote>
{% endfor %}

<h2 id="elsewhere">Elsewhere</h2>
<dl>
{% for item in elsewhere %}
    <dt>{{ item.service}}</dt>
    <dd><a href="{{ item.link }}">{{ item.handle }}</a></dd>
{% endfor %}
</dl>
{% endblock content %}
