{% extends "_default.html" %}

{% block link %}
{{ super() }}
<link rel="canonical" href="{{ canonical }}">
{% endblock %}

{% block title -%}
d12n &middot; {{ title | default(category) }}
{%- endblock title %}

{% block content %}
{% if index %}
<h2>{{ category | title }}</h2>
{% if category == "events" %}
<table id="events-index">
    {% for event in all_entries | sort(attribute='start_time', reverse=True) %}
    <tr>
        <td>
            <a href="{{ event.slug }}" title="Details about &ldquo;{{ event.title }}&rdquo;">
                {{ event.title }}
            </a>
        </td>
        <td>{{ event.start_time | dt(time=False) }}</td>
    </tr>
    {% endfor %}
</table>
<small>
    🗓️&nbsp;Subscribe to all our events:
    <input type="text" value="{{ base_url }}/events/events.ics" size="26" onClick="this.select();" readonly>
</small>
{% endif %}
{% else %}
{{ content | markdown }}
{% if category == "events" %}
<dl id="event-details">
    <dt>Event title</dt>
    <dd>{{ title }}</dd>
    <dt>Location</dt>
    <dd>{{ location }}</dd>
    <dt>Start time</dt>
    <dd>{{ start | dt }}</dd>
    <dt>End time</dt>
    <dd>{{ end | dt }}</dd>
</dl>
<a href="data:text/calendar;,{{ ics }}" download="{{ slug }}">
    <button>🗓️&nbsp;Download this event</button>
</a>
{% endif %}
{% endif %}
{% endblock content %}
